/*  Theme Responsive Css */

.experience-block-one .inner-box {
	margin-bottom: 30px;
}


@media only screen and (max-width: 767px) {

	.experience-block-one {
		max-width: 370px;
		margin: 0 auto;
	}
}

@media only screen and (max-width: 399px) {

	.experience-block-one .inner-box .lower-content {
		padding-left: 30px;
		padding-right: 30px;
	}

}
