<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Agency</title>

  <!-- Google fonts -->
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap" rel="stylesheet">

  <!-- Template CSS -->
  <link rel="stylesheet" href="assets/css/style-starter.css">
</head>

<body>
<div class="header-saas">
<!-- header -->
<header id="site-header" class="fixed-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg stroke">
            <a class="navbar-brand" href="index.html">
                CreatePro.
            </a>
            <!-- if logo is image enable this   
        <a class="navbar-brand" href="#index.html">
            <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
        </a> -->
            <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
                data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                <span class="navbar-toggler-icon fa icon-close fa-times"></span>
                </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Demos<span class="fa fa-angle-down"></span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                            <a class="dropdown-item active" href="index.html">Agency</a>
                            <a class="dropdown-item @@saas__active" href="saas.html">SaaS Subscription</a>
                            <a class="dropdown-item @@web__active" href="web.html">Web Application</a>
                        </div>
                    </li>
                    <li class="nav-item @@contact__active">
                        <a class="nav-link" href="contact.html">Contact</a>
                    </li>
                    <li>
                        <!--/search-right-->
                        <div class="search-right">
                            <a href="#search" title="search"><span class="fa fa-search" aria-hidden="true"></span></a>
                            <!-- search popup -->
                            <div id="search" class="pop-overlay">
                                <div class="popup">
                                    <h4 class="mb-3">Search here</h4>
                                    <form action="error.html" method="GET" class="search-box">
                                        <input type="search" placeholder="Enter Keyword" name="search"
                                            required="required" autofocus="">
                                        <button type="submit" class="btn btn-style btn-primary">Search</button>
                                    </form>

                                </div>
                                <a class="close" href="#close">×</a>
                            </div>
                            <!-- /search popup -->
                        </div>
                        <!--//search-right-->
                    </li>
                    <li class="mx-3">
                        <a href="#btn" class="btn btn-style btn-primary">Start a free trail</a>
                    </li>
                </ul>
            </div>
            <!-- toggle switch for light and dark theme -->
            <div class="mobile-position">
                <nav class="navigation">
                    <div class="theme-switch-wrapper">
                        <label class="theme-switch" for="checkbox">
                            <input type="checkbox" id="checkbox">
                            <div class="mode-container">
                                <i class="gg-sun"></i>
                                <i class="gg-moon"></i>
                            </div>
                        </label>
                    </div>
                </nav>
            </div>
            <!-- //toggle switch for light and dark theme -->
        </nav>
    </div>
</header>
<!-- //header -->
</div>
<section class="w3l-banner-agency py-5" id="work">
    <div class="midd-w3 py-lg-5 py-md-4">
        <div class="container py-lg-2">
            <div class="row">
                <div class="col-lg-6 banner-content align-self pr-lg-5">
                    <h5 class="title-small mb-2">Let's Shift your Business</h5>
                    <h3 class="title-toobig">Shift your business fast with Creative.</h3>
                    <p class="mt-4">Lorem ipsum viverra feugiat. Pellen tesque libero ut justo, init
                        ultrices in ligula. Semper at. Lorem ipsum dolor sit amet elit
                        elit. Non quae, ad esse et.</p>
                    <a href="#btn" class="btn btn-style btn-primary mt-lg-5 mt-4 mr-2">Get started for free <span
                            class="fa fa-long-arrow-right"></a>
                    <a href="#btn" class="btn btn-style btn-outline-dark mt-lg-5 mt-4">Learn More </a>
                </div>
                <div class="col-lg-6 text-center">
                    <div class="image-block position-relative">
                        <img src="assets/images/agency.jpg" alt="" class="img-fluid rounded-circle mt-lg-0 mt-4">
                    </div>
                </div>
            </div>
        </div>

        <!-- animations icons -->
        <div class="icon-effects-w3-1 text-right">
            <img src="assets/images/icon1.png" alt="" class="img-fluid">
        </div>
        <div class="icon-effects-w3-2 text-right">
            <img src="assets/images/icon2.png" alt="" class="img-fluid">
        </div>
        <div class="icon-effects-w3-3 text-right">
            <img src="assets/images/icon3.png" alt="" class="img-fluid">
        </div>
        <div class="icon-effects-w3-4 text-right">
            <img src="assets/images/icon4.png" alt="" class="img-fluid">
        </div>
        <div class="icon-effects-w3-5 text-right">
            <img src="assets/images/icon5.png" alt="" class="img-fluid">
        </div>
        <div class="icon-effects-w3-6 text-right">
            <img src="assets/images/icon6.png" alt="" class="img-fluid">
        </div>
        <!-- //animations icons -->
    </div>
</section>
<!-- /bottom-grids-->
<section class="w3l-bottom-grids-6 py-5" id="services">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="title-content text-center">
            <h6 class="title-small text-center">Our Services</h6>
            <h3 class="title-big mb-sm-5 mb-4 pb-sm-o pb-2 text-center">We provide great services</h3>
        </div>
        <div class="grids-area-hny main-cont-wthree-fea row">
            <div class="col-lg-4 col-md-6 grids-feature">
                <div class="area-box">
                    <span class="fa fa-meetup"></span>
                    <h4><a href="#feature" class="title-head">Graphic design</a></h4>
                    <p>Vivamus a ligula quam tesque et libero ut justo, ultrices in. Ut eu leo non. Duis sed et dolor
                        amet.</p>
                    <a href="#url" class="more">Learn More <span class="fa fa-long-arrow-right"></span> </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 grids-feature mt-md-0 mt-4">
                <div class="area-box">
                    <span class="fa fa-desktop"></span>
                    <h4><a href="#feature" class="title-head">Web development</a></h4>
                    <p>Vivamus a ligula quam tesque et libero ut justo, ultrices in. Ut eu leo non. Duis sed dolor et
                        amet.</p>
                    <a href="#url" class="more">Learn More <span class="fa fa-long-arrow-right"></span> </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 grids-feature mt-lg-0 mt-4">
                <div class="area-box">
                    <span class="fa fa-pencil-square-o"></span>
                    <h4><a href="#feature" class="title-head">Content writing</a></h4>
                    <p>Vivamus a ligula quam tesque et libero ut justo, ultrices in. Ut eu leo non. Duis sed dolor et
                        amet.</p>
                    <a href="#url" class="more">Learn More <span class="fa fa-long-arrow-right"></span> </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //bottom-grids-->
<!-- section -->
<section class="w3l-index3" id="about">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-3 py-2">
            <h3 class="title-small"> Our Story</h3>
            <h3 class="title-big mx-0 mb-md-5 mb-4">We know how everything works and why your business is failing over
                and over again. </h3>
            <div class="row">
                <div class="col-lg-5 mb-lg-0 mb-md-5 mb-4 align-self pr-lg-5">
                    <img src="assets/images/team1.jpg" alt="" class="radius-image-full img-fluid">
                </div>
                <div class="col-lg-7">
                    <div class="row position-relative">
                        <div class="col-md-6 col-7">
                            <img src="assets/images/image5.jpg" alt="" class="radius-image-full img-fluid">
                        </div>
                        <div class="col-md-5 col-5 pl-lg-5 pl-0 mt-lg-5">
                            <img src="assets/images/image6.jpg" alt="" class="radius-image-full img-fluid">
                        </div>
                    </div>
                    <p class="mt-md-5 mt-3">Lorem ipsum viverra feugiat. Pellen tesque libero ut justo,
                        ultrices in ligula. Semper at tempufddfel. Lorem ipsum dolor sit amet
                        elit. Non quae, fugiat nihil ad. Lorem ipsum dolor sit amet. Lorem ipsum init
                        dolor sit, amet elit. Dolor ipsum non velit, culpa!</p>
                    <a href="#btn" class="btn link-style p-0 mt-lg-5 mt-4">Start a free trail <span
                            class="fa fa-long-arrow-right"></span></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //section -->
<div class="fact-section">
    <div class="container">
        <div class="justify-content-center row">
            <div class="col-lg-4 col-md-6">
                <div class="single-fact">
                    <h3 class="counter-text">1M+</h3>
                    <p class="mb-0">Customers visit Albino every months</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-md-0 mt-4">
                <div class="single-fact">
                    <h3 class="counter-text">
                        <span>46</span>%
                    </h3>
                    <p class="mb-0">Satisfaction rate from our customers.</p>
                </div>
            </div>
            <div class="mb-9 col-lg-4 col-md-6 mt-lg-0 mt-4">
                <div class="single-fact">
                    <h3 class="counter-text">
                        <span>2.5</span>
                    </h3>
                    <p class="mb-0">Average customer ratings out of 5.00!</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about block3 -->
<section class="w3l-content-4 py-5" id="features">
    <div class="content-4-main py-lg-5 py-md-4">
        <div class="container">
            <div class="title-content text-center">
                <h3 class="title-small"> Why choose us</h3>
                <h3 class="title-big mx-lg-5">People choose us because we serve the best for everyone</h3>
            </div>
            <div class="content-info-in row mt-5 pt-lg-5">
                <div class="content-left col-lg-6">
                    <div class="row content4-right-grids mb-sm-5 mb-4">
                        <div class="col-2 content4-right-icon">
                            <div class="content4-icon icon-clr1">
                                <span class="fa fa-file-code-o"></span>
                            </div>
                        </div>
                        <div class="col-10 content4-right-info pl-5">
                            <h6><a href="#url">Dedicated project manager.</a></h6>
                            <p>Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam sequi optio
                                adipisicing.</p>
                        </div>
                    </div>
                    <div class="row content4-right-grids mb-sm-5 mb-4">
                        <div class="col-2 content4-right-icon">
                            <div class="content4-icon icon-clr2">
                                <span class="fa fa-share-square-o"></span>
                            </div>
                        </div>
                        <div class="col-10 content4-right-info pl-5">
                            <h6><a href="#url"> Easy feedback sharing.</a></h6>
                            <p>Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam sequi optio
                                adipisicing.</p>
                        </div>
                    </div>
                </div>
                <div class="content-right col-lg-6 pl-lg-4 mt-lg-0 mt-2">
                    <div class="row content4-right-grids mb-sm-5 mb-4">
                        <div class="col-2 content4-right-icon">
                            <div class="content4-icon icon-clr3">
                                <span class="fa fa-tasks"></span>
                            </div>
                        </div>
                        <div class="col-10 content4-right-info pl-5">
                            <h6><a href="#url">Organized tasks.</a></h6>
                            <p>Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam sequi optio
                                adipisicing.</p>
                        </div>
                    </div>
                    <div class="row content4-right-grids">
                        <div class="col-2 content4-right-icon">
                            <div class="content4-icon icon-clr4">
                                <span class="fa fa-clock-o"></span>
                            </div>
                        </div>
                        <div class="col-10 content4-right-info pl-5">
                            <h6><a href="#url"> Never miss deadline.</a></h6>
                            <p>Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam sequi optio
                                adipisicing.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/gallery-->
<section class="w3l-portfolio-8 py-5">
    <div class="portfolio-main py-lg-5 py-md-4 py-2">
        <div class="container">
            <div class="title-content text-center">
                <h3 class="title-small">Case studies</h3>
                <h3 class="title-big mx-lg-5">Our works describe why we are the best in the business</h3>
            </div>
            <div class="row galler-top mx-lg-5 mt-5">
                <div class="col-lg-6 col-md-6">
                    <div class="protfolio-item hover14 pr-lg-2">
                        <a href="#url" data-lightbox="example-set"
                            data-title="Branding Design">
                            <figure>
                                <img src="assets/images/project1.jpg" alt="product" class="img-fluid radius-image">
                                <div class="p-4">
                                    <p>Graphic Design</p>
                                    <a href="#url" class="mb-5 img-title">Branding Design</a>
                                </div>
                            </figure>
                        </a>
                    </div>
                    <div class="protfolio-item hover14 mt-4 pl-lg-2">
                        <a href="#url" data-lightbox="example-set"
                            data-title="Gradient Website Development">
                            <figure>
                                <img src="assets/images/project2.jpg" alt="product" class="img-fluid radius-image">
                                <div class="p-4">
                                    <p>Web Development</p>
                                    <a href="#url" class="mb-5 img-title">Gradient Website Development</a>
                                </div>
                            </figure>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 mt-lg-0 mt-4">
                    <div class="protfolio-item hover14 pr-lg-2">
                        <a href="#url" data-lightbox="example-set"
                            data-title="Design and Development">
                            <figure>
                                <img src="assets/images/project4.jpg" alt="product" class="img-fluid radius-image">
                                <div class="p-4">
                                    <p>UI/UX Design</p>
                                    <a href="#url" class="mb-5 img-title">Design and Development</a>
                                </div>
                            </figure>
                        </a>
                    </div>
                    <div class="protfolio-item hover14 mt-4 pl-lg-2">
                        <a href="#url" data-lightbox="example-set" data-title="Magazine Content Writing">
                            <figure>
                                <img src="assets/images/project3.jpg" alt="product" class="img-fluid radius-image">
                                <div class="p-4">
                                    <p>Content Writing</p>
                                    <a href="#url" class="mb-5 img-title">Magazine Content Writing</a>
                                </div>
                            </figure>
                        </a>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <a href="#btn" class="btn link-style p-0 mt-lg-5 mt-2">See all works <span
                        class="fa fa-long-arrow-right"></span></a>
            </div>
        </div>
    </div>
</section>
<!--//gallery-->
<!-- testimonials section -->
<section class="w3l-clients w3l-agency-test" id="testimonials">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-3">
            <div id="owl-agency" class="owl-carousel owl-theme py-2 mb-4 text-center">
                <div class="item">
                    <div class="testimonial-content">
                        <div class="testimonial">
                            <a class="comment-img" href="#url"><img src="assets/images/team1.jpg" class="img-responsive"
                                    alt="placeholder image"></a>
                            <blockquote>
                                <q>OMG! I cannot believe. It's Awesome</q>
                            </blockquote>
                            <p>My new site is so much faster and easier to work with than my old site. They are here to
                                help the customers to get their success. Nemo sit eos, quod minus eius illo labore.
                                Pellen tesque libero ut justo, ultrices in ligula.</p>
                            <div class="text-center mt-4">
                                <div class="people-info align-self">
                                    <h3>Johnson william</h3>
                                    <p class="indentity text-center">Web Developer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-content">
                        <div class="testimonial">
                            <a class="comment-img" href="#url"><img src="assets/images/team2.jpg" class="img-responsive"
                                    alt="placeholder image"></a>
                            <blockquote>
                                <q>Simply the best. Better than all the rest.</q>
                            </blockquote>
                            <p>My new site is so much faster and easier to work with than my old site. They are here to
                                help the customers to get their success. Nemo sit eos, quod minus eius illo labore.
                                Pellen tesque libero ut justo, ultrices in ligula.</p>
                            <div class="text-center mt-4">
                                <div class="people-info align-self">
                                    <h3>Alexander sakura</h3>
                                    <p class="indentity text-center">Digital Marketer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-content">
                        <div class="testimonial">
                            <a class="comment-img" href="#url"><img src="assets/images/team3.jpg" class="img-responsive"
                                    alt="placeholder image"></a>
                            <blockquote>
                                <q>OMG! I cannot believe. It's Awesome</q>
                            </blockquote>
                            <p>My new site is so much faster and easier to work with than my old site. They are here to
                                help the customers to get their success. Nemo sit eos, quod minus eius illo labore.
                                Pellen tesque libero ut justo, ultrices in ligula.</p>
                            <div class="text-center mt-4">
                                <div class="people-info align-self">
                                    <h3>John wilson</h3>
                                    <p class="indentity text-center">Web Developer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-content">
                        <div class="testimonial">
                            <a class="comment-img" href="#url"><img src="assets/images/team4.jpg" class="img-responsive"
                                    alt="placeholder image"></a>
                            <blockquote>
                                <q>OMG! I cannot believe. It's Awesome</q>
                            </blockquote>
                            <p>My new site is so much faster and easier to work with than my old site. They are here to
                                help the customers to get their success. Nemo sit eos, quod minus eius illo labore.
                                Pellen tesque libero ut justo, ultrices in ligula.</p>
                            <div class="text-center mt-4">
                                <div class="people-info align-self">
                                    <h3>Julia sakura</h3>
                                    <p class="indentity text-center">Digital Marketer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //testimonials section -->

<section class="w3l-project py-5">
    <div class="container py-md-5 py-sm-4 py-2">
        <div class="row">
            <div class="col-lg-8">
                <div class="bottom-info">
                    <div class="header-section">
                        <h3 class="title-big">Ready to launch your next project?</h3>
                        <p class="mt-3 pr-lg-5">Lorem ipsum dolor sit amet elit. Velit beatae
                            rem ullam dolore nisi esse quasi, sit amet. Lorem ipsum dolor sit
                            amet elit.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 align-self text-lg-right">
                <a href="#get" class="btn btn-style btn-primary mt-lg-0 mt-md-5 mt-4">Get started on a project<span
                        class="fa fa-long-arrow-right"></span></a>
            </div>
        </div>
    </div>
</section>
<!-- footer17 -->
<section class="footer-17">
  <div class="footer17_sur py-5">
    <div class="container py-lg-5 py-md-4">
      <div class="footer17-top">
        <div class="footer17-top-left1_sur">
          <h6>Contact Us</h6>
          <ul>
            <li><a href="mailto:support@createPro.com">support@createPro.com</a></li>
            <li><a href="tel:+(21) 255 999 8888">+(21) 255 999 8888</a></li>
          </ul>
          <ul class="footers-17_social">
            <li><a href="#url" class="twitter"><span class="fa fa-twitter"></span></a></li>
            <li><a href="#url" class="facebook"><span class="fa fa-facebook"></span></a></li>
            <li><a href="#url" class="linkedin"><span class="fa fa-linkedin"></span></a></li>
            <li><a href="#url" class="instagram"><span class="fa fa-instagram"></span></a></li>
          </ul>
        </div>
        <div class="footer17-top-left2_sur">
          <h6>Products</h6>
          <ul>
            <li><a href="#features">Features</a></li>
            <li><a href="#pricing">Pricing Plans</a></li>
            <li><a href="#blog">Latest News</a></li>
            <li><a href="#help">Help desk</a></li>
            <li><a href="#support">Support</a></li>
          </ul>
        </div>
        <div class="footer17-top-left3_sur">
          <h6>Company</h6>
          <ul>
            <li><a href="about.html">About Us</a></li>
            <li><a href="#team">Join our team</a></li>
            <li><a href="contact.html">Contact us</a></li>
            <li><a href="#press">Press release</a></li>
            <li><a href="#careers">Careers</a></li>
          </ul>
        </div>
        <div class="footer17-top-left4_sur">
          <h6>Services</h6>
          <ul>
            <li><a href="#services">Digital Marketing</a></li>
            <li><a href="#seo">SEO for Business</a></li>
            <li><a href="#writing">Content writing</a></li>
            <li><a href="#design">UI Design</a></li>
          </ul>
        </div>
        <div class="footer17-top-left5_sur">
          <h6>Legal </h6>
          <ul>
            <li><a href="#url">Privacy policy</a></li>
            <li><a href="#url">Terms of use</a></li>
            <li><a href="#url">Return Policy</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="copyright text-center">
      <div class="container">
        <p class="copy-footer-29">Copyright &copy; 2021.Company name All rights reserved.<a target="_blank" href="https://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
      </div>
    </div>
    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
      &#10548;
    </button>
    <script>
      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function () {
        scrollFunction()
      };

      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          document.getElementById("movetop").style.display = "block";
        } else {
          document.getElementById("movetop").style.display = "none";
        }
      }

      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      }
    </script>
    <!-- /move top -->
  </div>
</section>
<!-- //footer17 -->

<!-- Template JavaScript -->
<script src="assets/js/jquery-3.3.1.min.js"></script>

<script src="assets/js/theme-change.js"></script><!-- theme switch js (light and dark)-->

<!-- pricing tabs js -->
<script src="assets/js/tabs.js"></script>

<!-- owlcarousel -->
<script src="assets/js/owl.carousel.js"></script>

<!-- script for tesimonials carousel slider -->
<script>
  $(document).ready(function () {
    $("#owl-demo1").owlCarousel({
      loop: true,
      nav: false,
      margin: 50,
      responsiveClass: true,
      responsive: {
        0: {
          items: 1,
          nav: false
        },
        736: {
          items: 2,
          nav: false
        }
      }
    })
  })
</script>
<!-- //script for tesimonials carousel slider -->

<!-- script for tesimonials agency carousel slider -->
<script>
  $(document).ready(function () {
    $("#owl-agency").owlCarousel({
      loop: true,
      nav: false,
      margin: 50,
      responsiveClass: true,
      responsive: {
        0: {
          items: 1,
          nav: false
        },
        736: {
          items: 1,
          nav: false
        }
      }
    })
  })
</script>
<!-- //script for tesimonials agency carousel slider -->

<!-- magnific popup -->
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<script>
  $(document).ready(function () {
    $('.popup-with-zoom-anim').magnificPopup({
      type: 'inline',

      fixedContentPos: false,
      fixedBgPos: true,

      overflowY: 'auto',

      closeBtnInside: true,
      preloader: false,

      midClick: true,
      removalDelay: 300,
      mainClass: 'my-mfp-zoom-in'
    });

    $('.popup-with-move-anim').magnificPopup({
      type: 'inline',

      fixedContentPos: false,
      fixedBgPos: true,

      overflowY: 'auto',

      closeBtnInside: true,
      preloader: false,

      midClick: true,
      removalDelay: 300,
      mainClass: 'my-mfp-slide-bottom'
    });
  });
</script>
<!-- //magnific popup -->

<!-- disable body scroll which navbar is in active -->
<script>
  $(function () {
    $('.navbar-toggler').click(function () {
      $('body').toggleClass('noscroll');
    })
  });
</script>
<!-- disable body scroll which navbar is in active -->

<!--/MENU-JS-->
<script>
  $(window).on("scroll", function () {
    var scroll = $(window).scrollTop();

    if (scroll >= 80) {
      $("#site-header").addClass("nav-fixed");
    } else {
      $("#site-header").removeClass("nav-fixed");
    }
  });

  //Main navigation Active Class Add Remove
  $(".navbar-toggler").on("click", function () {
    $("header").toggleClass("active");
  });
  $(document).on("ready", function () {
    if ($(window).width() > 991) {
      $("header").removeClass("active");
    }
    $(window).on("resize", function () {
      if ($(window).width() > 991) {
        $("header").removeClass("active");
      }
    });
  });
</script>
<!--//MENU-JS-->

<script src="assets/js/bootstrap.min.js"></script>

</body>

</html>