<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>SaaS Subscription</title>

  <!-- Google fonts -->
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap" rel="stylesheet">

  <!-- Template CSS -->
  <link rel="stylesheet" href="assets/css/style-starter.css">
</head>

<body>
<div class="header-saas">
<!-- header -->
<header id="site-header" class="fixed-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg stroke">
            <a class="navbar-brand" href="index.html">
                CreatePro.
            </a>
            <!-- if logo is image enable this   
        <a class="navbar-brand" href="#index.html">
            <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
        </a> -->
            <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
                data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                <span class="navbar-toggler-icon fa icon-close fa-times"></span>
                </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Demos<span class="fa fa-angle-down"></span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                            <a class="dropdown-item @@agency__active" href="index.html">Agency</a>
                            <a class="dropdown-item active" href="saas.html">SaaS Subscription</a>
                            <a class="dropdown-item @@web__active" href="web.html">Web Application</a>
                        </div>
                    </li>
                    <li class="nav-item @@contact__active">
                        <a class="nav-link" href="contact.html">Contact</a>
                    </li>
                    <li>
                        <!--/search-right-->
                        <div class="search-right">
                            <a href="#search" title="search"><span class="fa fa-search" aria-hidden="true"></span></a>
                            <!-- search popup -->
                            <div id="search" class="pop-overlay">
                                <div class="popup">
                                    <h4 class="mb-3">Search here</h4>
                                    <form action="error.html" method="GET" class="search-box">
                                        <input type="search" placeholder="Enter Keyword" name="search"
                                            required="required" autofocus="">
                                        <button type="submit" class="btn btn-style btn-primary">Search</button>
                                    </form>

                                </div>
                                <a class="close" href="#close">×</a>
                            </div>
                            <!-- /search popup -->
                        </div>
                        <!--//search-right-->
                    </li>
                    <li class="mx-3">
                        <a href="#btn" class="btn btn-style btn-primary">Start a free trail</a>
                    </li>
                </ul>
            </div>
            <!-- toggle switch for light and dark theme -->
            <div class="mobile-position">
                <nav class="navigation">
                    <div class="theme-switch-wrapper">
                        <label class="theme-switch" for="checkbox">
                            <input type="checkbox" id="checkbox">
                            <div class="mode-container">
                                <i class="gg-sun"></i>
                                <i class="gg-moon"></i>
                            </div>
                        </label>
                    </div>
                </nav>
            </div>
            <!-- //toggle switch for light and dark theme -->
        </nav>
    </div>
</header>
<!-- //header -->
</div>
<section class="w3l-banner-saas py-5" id="work">
    <div class="midd-w3 py-lg-5 py-md-4">
        <div class="container py-lg-4">
            <div class="banner-content text-center">
                <h3 class="title-toobig">Get things done by<br> awesome creative team.</h3>
                <p class="mt-4">Lorem ipsum viverra feugiat. Pellen tesque libero ut justo, init
                    ultrices in ligula. Semper at. Lorem ipsum dolor sit amet elit
                    elit. Non quae, ad.</p>
                <a href="#btn" class="btn btn-style btn-primary mt-lg-5 mt-4 mr-2">Get started for free <span
                        class="fa fa-long-arrow-right"></a>
                <a href="#btn" class="btn btn-style btn-outline-dark mt-lg-5 mt-4">Learn More </a>
            </div>
            <br>
            <div class="text-center">
                <img src="assets/images/dashboard1.jpg" alt="" class="img-fluid radius-image-full mt-lg-5 mt-4">
            </div>
        </div>
    </div>
</section>
<section class="w3l-services-block-3 py-5" id="services">
    <div class="features-main py-lg-5 py-md-3 py-2">
        <div class="container">
            <div class="row features text-center">
                <div class="col-lg-4 col-md-6 feature-grid">
                    <a href="#url">
                        <div class="feature-img mb-4">
                            <span class="fa fa-sun-o" aria-hidden="true"></span>
                        </div>
                        <div class="feature-info">
                            <h3 class="feature-titel mb-3">Project management</h3>
                            <p class="feature-text">Pellen tesque libero ut justo, lorem in ipsumetr dolor sit amet elit et.
                                Debitis nam, minima iste ipsum, ad. </p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 feature-grid mt-md-0 mt-5">
                    <a href="#url">
                        <div class="feature-img mb-4">
                            <span class="fa fa-wrench icon-fea" aria-hidden="true"></span>
                        </div>
                        <div class="feature-info">
                            <h3 class="feature-titel mb-3">Time tracking</h3>
                            <p class="feature-text">Pellen tesque libero ut justo, lorem in ipsumetr dolor sit amet elit et.
                                Debitis nam, minima iste ipsum, ad. </p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 feature-grid mt-lg-0 mt-5">
                    <a href="#url">
                        <div class="feature-img mb-4">
                            <span class="fa fa-flask" aria-hidden="true"></span>
                        </div>
                        <div class="feature-info">
                            <h3 class="feature-titel mb-3">Beautiful Mobile app</h3>
                            <p class="feature-text">Pellen tesque libero ut justo, lorem in ipsumetr dolor sit amet elit et.
                                Debitis nam, minima iste ipsum, ad. </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- home page about section -->
<section class="w3l-index3" id="about">
    <div class="midd-w3 py-5">
        <div class="container pt-lg-5 py-md-3 py-2">
            <div class="row">
                <div class="col-lg-6 align-self">
                    <h3 class="title-big mx-0">Getting started with Us is easier than ever.</h3>
                    <p class="mt-md-4 mt-3">Lorem ipsum viverra feugiat. Pellen tesque libero ut justo,
                        ultrices in ligula. Semper at tempufddfel. Lorem ipsum init
                        dolor sit, amet elit, non velit, culpa!</p>
                    <a href="#btn" class="btn btn-style btn-primary mt-lg-5 mt-4">Get started for free <span
                            class="fa fa-long-arrow-right"></a>
                </div>
                <div class="col-lg-6 mt-lg-0 mt-md-5 mt-4">
                    <img src="assets/images/saas1.jpg" alt="" class="radius-image-full img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //home page about section -->
<div class="fact-section">
    <div class="container">
        <div class="justify-content-center row">
            <div class="mb-9 col-lg-4 col-md-6">
                <div class="single-fact">
                    <h3 class="counter-text">1M+</h3>
                    <p class="mb-0">Customers visit Albino every months</p>
                </div>
            </div>
            <div class="mb-9 col-lg-4 col-md-6 mt-md-0 mt-4">
                <div class="single-fact">
                    <h3 class="counter-text">
                        <span>46</span>%
                    </h3>
                    <p class="mb-0">Satisfaction rate from our customers.</p>
                </div>
            </div>
            <div class="mb-9 col-lg-4 col-md-6 mt-lg-0 mt-4">
                <div class="single-fact">
                    <h3 class="counter-text">
                        <span>2.5</span>
                    </h3>
                    <p class="mb-0">Average customer ratings out of 5.00!</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about block3 -->
<section class="w3l-content-4 py-5" id="features">
    <div class="content-4-main py-lg-5 py-md-4">
        <div class="container">
            <div class="title-content text-center">
                <h3 class="title-big">Make your projects faster</h3>
                <p class="mt-3">We are here to help the customers to get their success. Lorem ipsum dolor sit amet,
                    consectetur elit. Nemo sit eos, quod
                    minus eius illo labore.</p>
            </div>
            <div class="content-info-in row mt-5 pt-lg-5">
                <div class="content-left col-lg-6">
                    <img src="assets/images/saas3.jpg" class="img-fluid radius-image-full" alt="">
                </div>
                <div class="content-right col-lg-6 pl-lg-4 mt-lg-0 mt-5 align-self">
                    <div class="row content4-right-grids mb-md-5 mb-5">
                        <div class="col-2 content4-right-icon">
                            <div class="content4-icon">
                                <span class="fa fa-cogs"></span>
                            </div>
                        </div>
                        <div class="col-10 content4-right-info">
                            <h6><a href="#url">Create a project.</a></h6>
                            <p>Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam sequi optio
                                adipisicing.</p>
                        </div>
                    </div>
                    <div class="row content4-right-grids mb-md-5 mb-5">
                        <div class="col-2 content4-right-icon">
                            <div class="content4-icon">
                                <span class="fa fa-wrench"></span>
                            </div>
                        </div>
                        <div class="col-10 content4-right-info">
                            <h6><a href="#url"> Assign related people.</a></h6>
                            <p>Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam sequi optio
                                adipisicing.</p>
                        </div>
                    </div>
                    <div class="row content4-right-grids">
                        <div class="col-2 content4-right-icon">
                            <div class="content4-icon">
                                <span class="fa fa-clock-o"></span>
                            </div>
                        </div>
                        <div class="col-10 content4-right-info">
                            <h6><a href="#url"> Make it done on-time</a></h6>
                            <p>Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam sequi optio
                                adipisicing.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- testimonials section -->
<section class="w3l-clients w3l-test" id="testimonials">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-3">
            <div id="owl-demo1" class="owl-carousel owl-theme mt-4 py-2 mb-4 text-center">
                <div class="item">
                    <div class="testimonial-content">
                        <div class="testimonial">
                            <a class="comment-img" href="#url"><img src="assets/images/team1.jpg" class="img-responsive"
                                    alt="placeholder image"></a>
                            <blockquote>
                                <q>OMG! I cannot believe. It's Awesome</q>
                            </blockquote>
                            <p>My new site is so much faster and easier to work with than my old site. They are here to
                                help the customers to get their success. Nemo sit eos, quod minus eius illo labore.</p>
                            <div class="text-center mt-4">
                                <div class="people-info align-self">
                                    <h3>Johnson william</h3>
                                    <p class="indentity text-center">Web Developer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-content">
                        <div class="testimonial">
                            <a class="comment-img" href="#url"><img src="assets/images/team2.jpg" class="img-responsive"
                                    alt="placeholder image"></a>
                            <blockquote>
                                <q>Simply the best. Better than all the rest.</q>
                            </blockquote>
                            <p> I’d recommend this product to beginners
                                and advanced users. They are here to
                                help the customers to get their success. Nemo sit eos, quod minus eius illo labore.</p>
                            <div class="text-center mt-4">
                                <div class="people-info align-self">
                                    <h3>Alexander sakura</h3>
                                    <p class="indentity text-center">Digital Marketer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-content">
                        <div class="testimonial">
                            <a class="comment-img" href="#url"><img src="assets/images/team3.jpg" class="img-responsive"
                                    alt="placeholder image"></a>
                            <blockquote>
                                <q>OMG! I cannot believe. It's Awesome</q>
                            </blockquote>
                            <p>My new site is so much faster and easier to work with than my old site. They are here to
                                help the customers to get their success. Nemo sit eos, quod minus eius illo labore.</p>
                            <div class="text-center mt-4">
                                <div class="people-info align-self">
                                    <h3>John wilson</h3>
                                    <p class="indentity text-center">Web Developer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-content">
                        <div class="testimonial">
                            <a class="comment-img" href="#url"><img src="assets/images/team4.jpg" class="img-responsive"
                                    alt="placeholder image"></a>
                            <blockquote>
                                <q>OMG! I cannot believe. It's Awesome</q>
                            </blockquote>
                            <p>My new site is so much faster and easier to work with than my old site. They are here to
                                help the customers to get their success. Nemo sit eos, quod minus eius illo labore.</p>
                            <div class="text-center mt-4">
                                <div class="people-info align-self">
                                    <h3>Julia sakura</h3>
                                    <p class="indentity text-center">Digital Marketer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-content">
                        <div class="testimonial">
                            <a class="comment-img" href="#url"><img src="assets/images/team5.jpg" class="img-responsive"
                                    alt="placeholder image"></a>
                            <blockquote>
                                <q>OMG! I cannot believe. It's Awesome</q>
                            </blockquote>
                            <p>My new site is so much faster and easier to work with than my old site. They are here to
                                help the customers to get their success. Nemo sit eos, quod minus eius illo labore.</p>
                            <div class="text-center mt-4">
                                <div class="people-info align-self">
                                    <h3>John wilson</h3>
                                    <p class="indentity text-center">Web Developer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-content">
                        <div class="testimonial">
                            <a class="comment-img" href="#url"><img src="assets/images/team6.jpg" class="img-responsive"
                                    alt="placeholder image"></a>
                            <blockquote>
                                <q>OMG! I cannot believe. It's Awesome</q>
                            </blockquote>
                            <p>My new site is so much faster and easier to work with than my old site. They are here to
                                help the customers to get their success. Nemo sit eos, quod minus eius illo labore.</p>
                            <div class="text-center mt-4">
                                <div class="people-info align-self">
                                    <h3>Julia sakura</h3>
                                    <p class="indentity text-center">Digital Marketer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //testimonials section -->

<!-- content -->
<section class="pricing-columns pricing-section py-5" id="pricing">
    <div class="container pricing-style-w3ls py-lg-5 py-md-4">
        <div class="title-content text-center">
            <h3 class="title-big">Pricing Plans</h3>
            <p class="mt-3">We are here to help the customers to get their success. Lorem ipsum dolor sit amet,
                consectetur elit. Nemo sit eos, quod
                minus eius illo labore.</p>
        </div>
        <div class="row pricing-chart mt-4">
            <div class="col-lg-4">
                <div class="plan popular">
                    <h3 class="pop-plan">Basic Plan</h3>
                    <div class="price mb-4">
                        <span class="dollar">$</span>
                        <span class="amount" data-dollar-amount="19">19</span>
                        <span class="month">/mo</span>
                        <p class="">One time purchase</p>
                    </div>
                    <p class="mt-4">We are here to help customers to get their success. Lorem in ipsum dolor sit amet,
                        elit dolo beatae rem ullam nisi.</p>
                    <a class="btn btn-outline-primary btn-style mt-lg-5 mt-4" href="#url">Get started for free</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="plan popular active">
                    <h3 class="pop-plan">Popular Plan</h3>
                    <div class="price mb-4">
                        <span class="dollar">$</span>
                        <span class="amount" data-dollar-amount="39">39</span>
                        <span class="month">/mo</span>
                        <p class="">One time purchase</p>
                    </div>
                    <p class="mt-4">We are here to help customers to get their success. Lorem in ipsum dolor sit amet,
                        elit dolo beatae rem ullam nisi.</p>
                    <a class="btn btn-primary btn-style mt-lg-5 mt-4" href="#url">Get started for free</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="plan popular">
                    <h3 class="pop-plan">Premium Plan</h3>
                    <div class="price mb-4">
                        <span class="dollar">$</span>
                        <span class="amount" data-dollar-amount="69">69</span>
                        <span class="month">/mo</span>
                        <p class="">One time purchase</p>
                    </div>
                    <p class="mt-4">We are here to help customers to get their success. Lorem in ipsum dolor sit amet,
                        elit dolo beatae rem ullam nisi.</p>
                    <a class="btn btn-outline-primary btn-style mt-lg-5 mt-4" href="#url">Get started for free</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="w3l-bottom1 py-5">
    <div class="container py-md-5 py-sm-4 py-2">
        <div class="row">
            <div class="col-lg-7">
                <div class="bottom-info">
                    <div class="header-section">
                        <h3 class="title-big">Build better landing page fast</h3>
                        <p class="mt-3 pr-lg-5">Lorem ipsum dolor sit amet elit. Velit beatae
                            rem ullam dolore nisi esse quasi. Integer sit amet. Lorem ipsum dolor sit
                            amet elit.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 align-self text-lg-right">
                <a href="#get" class="btn btn-style btn-outline-dark mt-lg-0 mt-md-5 mt-4 mr-2">Learn More <span
                        class="fa fa-long-arrow-right"></span></a>
                <a href="#get" class="btn btn-style btn-primary mt-lg-0 mt-md-5 mt-4">Get it now <span
                        class="fa fa-long-arrow-right"></span></a>
            </div>
        </div>
    </div>
</section>
<!-- footer17 -->
<section class="footer-17-saas">
  <div class="footer17_sur py-5">
    <div class="container py-lg-5 py-md-4">
      <div class="footer17-top">
        <div class="footer17-top-left1_sur">
          <h6>Contact Us</h6>
          <ul>
            <li><a href="mailto:support@createPro.com">support@createPro.com</a></li>
            <li><a href="tel:+(21) 255 999 8888">+(21) 255 999 8888</a></li>
          </ul>
          <ul class="footers-17_social">
            <li><a href="#url" class="twitter"><span class="fa fa-twitter"></span></a></li>
            <li><a href="#url" class="facebook"><span class="fa fa-facebook"></span></a></li>
            <li><a href="#url" class="linkedin"><span class="fa fa-linkedin"></span></a></li>
            <li><a href="#url" class="instagram"><span class="fa fa-instagram"></span></a></li>
          </ul>
        </div>
        <div class="footer17-top-left2_sur">
          <h6>Products</h6>
          <ul>
            <li><a href="#features">Features</a></li>
            <li><a href="#pricing">Pricing Plans</a></li>
            <li><a href="blog.html">Latest News</a></li>
            <li><a href="#help">Help desk</a></li>
            <li><a href="#support">Support</a></li>
          </ul>
        </div>
        <div class="footer17-top-left3_sur">
          <h6>Company</h6>
          <ul>
            <li><a href="about.html">About Us</a></li>
            <li><a href="about.html#team">Join our team</a></li>
            <li><a href="contact.html">Contact us</a></li>
            <li><a href="#press">Press release</a></li>
            <li><a href="#careers">Careers</a></li>
          </ul>
        </div>
        <div class="footer17-top-left4_sur">
          <h6>Services</h6>
          <ul>
            <li><a href="#services">Digital Marketing</a></li>
            <li><a href="#seo">SEO for Business</a></li>
            <li><a href="#writing">Content writing</a></li>
            <li><a href="#design">UI Design</a></li>
          </ul>
        </div>
        <div class="footer17-top-left5_sur">
          <h6>Legal </h6>
          <ul>
            <li><a href="#url">Privacy policy</a></li>
            <li><a href="#url">Terms of use</a></li>
            <li><a href="#url">Return Policy</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="copyright-saas text-center">
      <div class="container">
        <p class="copy-footer-29">Copyright &copy; 2021.Company name All rights reserved.<a target="_blank" href="https://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
      </div>
    </div>
    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
      &#10548;
    </button>
    <script>
      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function () {
        scrollFunction()
      };

      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          document.getElementById("movetop").style.display = "block";
        } else {
          document.getElementById("movetop").style.display = "none";
        }
      }

      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      }
    </script>
    <!-- /move top -->
  </div>
</section>
<!-- //footer17 -->

<!-- Template JavaScript -->
<script src="assets/js/jquery-3.3.1.min.js"></script>

<script src="assets/js/theme-change.js"></script><!-- theme switch js (light and dark)-->

<!-- pricing tabs js -->
<script src="assets/js/tabs.js"></script>

<!-- owlcarousel -->
<script src="assets/js/owl.carousel.js"></script>

<!-- script for tesimonials carousel slider -->
<script>
  $(document).ready(function () {
    $("#owl-demo1").owlCarousel({
      loop: true,
      nav: false,
      margin: 50,
      responsiveClass: true,
      responsive: {
        0: {
          items: 1,
          nav: false
        },
        736: {
          items: 2,
          nav: false
        }
      }
    })
  })
</script>
<!-- //script for tesimonials carousel slider -->

<!-- disable body scroll which navbar is in active -->
<script>
  $(function () {
    $('.navbar-toggler').click(function () {
      $('body').toggleClass('noscroll');
    })
  });
</script>
<!-- disable body scroll which navbar is in active -->

<!--/MENU-JS-->
<script>
  $(window).on("scroll", function () {
    var scroll = $(window).scrollTop();

    if (scroll >= 80) {
      $("#site-header").addClass("nav-fixed");
    } else {
      $("#site-header").removeClass("nav-fixed");
    }
  });

  //Main navigation Active Class Add Remove
  $(".navbar-toggler").on("click", function () {
    $("header").toggleClass("active");
  });
  $(document).on("ready", function () {
    if ($(window).width() > 991) {
      $("header").removeClass("active");
    }
    $(window).on("resize", function () {
      if ($(window).width() > 991) {
        $("header").removeClass("active");
      }
    });
  });
</script>
<!--//MENU-JS-->

<script src="assets/js/bootstrap.min.js"></script>

</body>

</html>